In [1]:
import pandas as pd

In [2]:
budgets_df = pd.read_csv('../data/zippedData/tn.movie_budgets.csv.gz', compression = 'gzip')
budgets_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [3]:
#limit data to movies released after the year 2000
budgets_df['release_year'] = [int(x[-4:]) for x in budgets_df['release_date']]
budgets_df= budgets_df[budgets_df['release_year']>2000]

In [4]:
budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4198 entries, 0 to 5781
Data columns (total 7 columns):
id                   4198 non-null int64
release_date         4198 non-null object
movie                4198 non-null object
production_budget    4198 non-null object
domestic_gross       4198 non-null object
worldwide_gross      4198 non-null object
release_year         4198 non-null int64
dtypes: int64(2), object(5)
memory usage: 262.4+ KB

In [7]:
dups_df = budgets_df[budgets_df.duplicated(['movie'], keep = False)]

dups_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
38,39,"May 14, 2010",Robin Hood,"$210,000,000","$105,487,148","$322,459,006",2010
243,44,"Mar 27, 2015",Home,"$130,000,000","$177,397,510","$385,997,896",2015
297,98,"Aug 7, 2015",Fantastic Four,"$120,000,000","$56,117,548","$167,849,187",2015
302,3,"Oct 5, 2018",Venom,"$116,000,000","$213,511,408","$853,628,605",2018
408,9,"Nov 21, 2018",Robin Hood,"$99,000,000","$30,824,628","$84,747,441",2018
484,85,"Jul 8, 2005",Fantastic Four,"$87,500,000","$154,696,080","$333,132,750",2005
883,84,"Apr 2, 2004",Hellboy,"$60,000,000","$59,623,958","$99,823,958",2004
1176,77,"Apr 12, 2019",Hellboy,"$50,000,000","$21,903,748","$40,725,492",2019
1420,21,"Feb 18, 2011",Unknown,"$40,000,000","$63,686,397","$136,123,083",2011
1549,50,"Sep 30, 2005",Serenity,"$39,000,000","$25,514,517","$40,319,440",2005
1703,4,"Nov 9, 2001",Heist,"$35,000,000","$23,483,357","$28,906,817",2001
1931,32,"Feb 8, 2013",Side Effects,"$30,000,000","$32,172,757","$66,742,138",2013
2140,41,"Dec 4, 2009",Brothers,"$26,000,000","$28,544,157","$45,043,870",2009
2292,93,"Jan 25, 2019",Serenity,"$25,000,000","$8,547,045","$11,367,029",2019
2313,14,"Sep 16, 2005",Venom,"$25,000,000","$881,745","$881,745",2005
2463,64,"Apr 16, 2010",Death at a Funeral,"$21,000,000","$42,739,347","$48,977,233",2010
2652,53,"Aug 17, 2007",Death at a Funeral,"$20,000,000","$8,580,428","$46,790,428",2007
2762,63,"Feb 2, 2001",Left Behind,"$18,500,000","$4,221,341","$4,221,341",2001
2956,57,"Oct 3, 2014",Left Behind,"$16,000,000","$14,019,924","$20,769,209",2014
2970,71,"Apr 5, 2013",Trance,"$16,000,000","$2,322,593","$22,594,052",2013
3014,15,"Aug 31, 2007",Halloween,"$15,000,000","$58,269,151","$77,514,401",2007
3025,26,"Feb 22, 2013",Snitch,"$15,000,000","$42,930,462","$57,907,734",2013
3231,32,"Dec 31, 2008",Ca$h,"$13,700,000",$0,"$11,738,256",2008
3307,8,"Aug 14, 2015",Brothers,"$13,000,000","$656,688","$17,856,688",2015
3366,67,"Feb 15, 2002",Crossroads,"$12,000,000","$37,188,667","$57,000,000",2002
3455,56,"Jun 5, 2009",Home,"$12,000,000",$0,$0,2009
3535,36,"Oct 19, 2018",Halloween,"$10,000,000","$159,342,015","$254,900,667",2018
3824,25,"Nov 13, 2015",Heist,"$8,900,000","$50,136","$3,324,131",2015
4058,59,"Mar 26, 2010",Ca$h,"$7,000,000","$46,488","$46,488",2010
4525,26,"Jun 13, 2014",The Signal,"$4,000,000","$600,896","$2,665,322",2014
4583,84,"Nov 3, 2006",Unknown,"$3,700,000","$26,403","$3,355,048",2006
4842,43,"Dec 31, 2009",The Calling,"$2,500,000",$0,$0,2009
5009,10,"Apr 9, 2010",The Square,"$1,900,000","$406,216","$740,932",2010
5099,100,"Oct 25, 2013",The Square,"$1,500,000","$124,244","$176,262",2013
5330,31,"Dec 31, 2012",Trance,"$950,000",$0,$0,2012
5351,52,"Dec 31, 2012",Snitch,"$850,000",$0,$0,2012
5459,60,"Apr 23, 2009",Home,"$500,000","$15,433","$44,793,168",2009
5485,86,"Jun 23, 2015",Crossroads,"$500,000",$0,$0,2015
5628,29,"Sep 9, 2005",Side Effects,"$200,000","$44,701","$44,701",2005
5654,55,"Mar 1, 2002",The Calling,"$160,000","$32,092","$32,092",2002
5718,19,"Feb 22, 2008",The Signal,"$50,000","$251,150","$406,299",2008

In [9]:
dups_df.sort_values(by='movie')

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
2140,41,"Dec 4, 2009",Brothers,"$26,000,000","$28,544,157","$45,043,870",2009
3307,8,"Aug 14, 2015",Brothers,"$13,000,000","$656,688","$17,856,688",2015
3231,32,"Dec 31, 2008",Ca$h,"$13,700,000",$0,"$11,738,256",2008
4058,59,"Mar 26, 2010",Ca$h,"$7,000,000","$46,488","$46,488",2010
5485,86,"Jun 23, 2015",Crossroads,"$500,000",$0,$0,2015
3366,67,"Feb 15, 2002",Crossroads,"$12,000,000","$37,188,667","$57,000,000",2002
2652,53,"Aug 17, 2007",Death at a Funeral,"$20,000,000","$8,580,428","$46,790,428",2007
2463,64,"Apr 16, 2010",Death at a Funeral,"$21,000,000","$42,739,347","$48,977,233",2010
297,98,"Aug 7, 2015",Fantastic Four,"$120,000,000","$56,117,548","$167,849,187",2015
484,85,"Jul 8, 2005",Fantastic Four,"$87,500,000","$154,696,080","$333,132,750",2005
3535,36,"Oct 19, 2018",Halloween,"$10,000,000","$159,342,015","$254,900,667",2018
3014,15,"Aug 31, 2007",Halloween,"$15,000,000","$58,269,151","$77,514,401",2007
3824,25,"Nov 13, 2015",Heist,"$8,900,000","$50,136","$3,324,131",2015
1703,4,"Nov 9, 2001",Heist,"$35,000,000","$23,483,357","$28,906,817",2001
1176,77,"Apr 12, 2019",Hellboy,"$50,000,000","$21,903,748","$40,725,492",2019
883,84,"Apr 2, 2004",Hellboy,"$60,000,000","$59,623,958","$99,823,958",2004
3455,56,"Jun 5, 2009",Home,"$12,000,000",$0,$0,2009
5459,60,"Apr 23, 2009",Home,"$500,000","$15,433","$44,793,168",2009
243,44,"Mar 27, 2015",Home,"$130,000,000","$177,397,510","$385,997,896",2015
2762,63,"Feb 2, 2001",Left Behind,"$18,500,000","$4,221,341","$4,221,341",2001
2956,57,"Oct 3, 2014",Left Behind,"$16,000,000","$14,019,924","$20,769,209",2014
38,39,"May 14, 2010",Robin Hood,"$210,000,000","$105,487,148","$322,459,006",2010
408,9,"Nov 21, 2018",Robin Hood,"$99,000,000","$30,824,628","$84,747,441",2018
2292,93,"Jan 25, 2019",Serenity,"$25,000,000","$8,547,045","$11,367,029",2019
1549,50,"Sep 30, 2005",Serenity,"$39,000,000","$25,514,517","$40,319,440",2005
5628,29,"Sep 9, 2005",Side Effects,"$200,000","$44,701","$44,701",2005
1931,32,"Feb 8, 2013",Side Effects,"$30,000,000","$32,172,757","$66,742,138",2013
5351,52,"Dec 31, 2012",Snitch,"$850,000",$0,$0,2012
3025,26,"Feb 22, 2013",Snitch,"$15,000,000","$42,930,462","$57,907,734",2013
5654,55,"Mar 1, 2002",The Calling,"$160,000","$32,092","$32,092",2002
4842,43,"Dec 31, 2009",The Calling,"$2,500,000",$0,$0,2009
4525,26,"Jun 13, 2014",The Signal,"$4,000,000","$600,896","$2,665,322",2014
5718,19,"Feb 22, 2008",The Signal,"$50,000","$251,150","$406,299",2008
5009,10,"Apr 9, 2010",The Square,"$1,900,000","$406,216","$740,932",2010
5099,100,"Oct 25, 2013",The Square,"$1,500,000","$124,244","$176,262",2013
5330,31,"Dec 31, 2012",Trance,"$950,000",$0,$0,2012
2970,71,"Apr 5, 2013",Trance,"$16,000,000","$2,322,593","$22,594,052",2013
1420,21,"Feb 18, 2011",Unknown,"$40,000,000","$63,686,397","$136,123,083",2011
4583,84,"Nov 3, 2006",Unknown,"$3,700,000","$26,403","$3,355,048",2006
2313,14,"Sep 16, 2005",Venom,"$25,000,000","$881,745","$881,745",2005
302,3,"Oct 5, 2018",Venom,"$116,000,000","$213,511,408","$853,628,605",2018